@import "../theme.scss";

.Welcome section {
  padding: 1px;
  min-height: 25vh;
  color: white;
}

.Welcome .section1 {
  background-color: #4A073C;
}


.Welcome .section2 {
  background-color: #3D793D;
}

.Welcome .section3 {
  background-color: #3C2A2B;
}

.Welcome .section4 {
  background-color: #2B2A3F;
}
