@import "../theme.scss";

.Button {
  font-size: 1rem;
  line-height: 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
  background-color: $primaryBackgroundColor;
}

.Button.small {
  line-height: 1rem;
  font-size: 0.75rem;
}

.Button.action {
  border: 1px solid $actionColor;
}

.Button.danger {
  color: red;
  border: 1px solid $dangerColor;
}
