.NoteForm {
  max-width: 1000px;
  margin: auto;
}

.NoteForm .MarkDownEditor-container {
  border-radius: 5px;
  overflow: hidden;
}

.NoteForm .MarkDownEditor-container .MarkDownEditor>div {
  min-height: 100px;
}

.NoteForm .TitleInput {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  line-height: 2rem;
  font-size: 2rem;
  border-radius: 5px;
  border: 0px;
  box-sizing: border-box;
}
