@import "theme.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primaryBackgroundColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-underline {
  text-decoration: none;
}

.marginless {
  margin: 0;
}

.warning {
  color: $warningBackgroundColor;
}

.left-text {
  text-align: left;
}

.row-flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-item {
  flex: 0 1 auto;
}
