$primaryBackgroundColor: white;
$neutralBackgroundColor: #24B694;
$warningBackgroundColor: #A3B808;
$headerBackgroundColor: #4A073C;

$contrastColor: white;
$dangerColor: #D22042;
$actionColor: $headerBackgroundColor;
